.btn {
  display: inline;
  padding: 20px 20px;
  border: none;
  margin: 30px auto;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  transition: all 0.3s ease;

  &.primary {
    background-color: #007bff;
    color: #fff;
    
  }
.btn {
  .producto{
    
  }
}
  &.secondary {
    background-color: #11528b;
    color: #fff;

  }

  &.otro {
    background-color: #6c757d;
    color: #fff;
    box-shadow: #6c757d;
  }

  &.dark {
    background-color: #0a0a0a;
    color: #fff;
  }
  &.sketch {
    align-items: center; 
    appearance: none;
    background-color: rgb(107, 9, 9);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(131, 123, 148, 0.4) 0 2px 4px,
      rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
      rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #eee7e7;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
  }

  @media (max-width: 768px) {
    .btn {
      font-size: 14px;
    }
  }
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(3, 72, 94, 0.849);
  background-size: 800%;
  filter: brightness(.8);
  transition: all 0.3s ease;
}

