

.pokemonlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  width: 100%;
  padding: 40px;
  gap: 15px;
}
.pokemon {
  &.fire-class {
    background: rgb(211, 68, 68);
  }
  &.water-class {
    // Estilos para el tipo "water"
    background: rgb(99, 185, 219);
  }
  &.grass-class {
    // Estilos para el tipo "grass"
    background: rgb(98, 255, 0);
  }
  &.bug-class {
    // Estilos para el tipo "bug"
    background: rgb(127, 202, 6);
  }
  &.normal-class {
    // Estilos para el tipo "normal"
    background: #c9c9c9;
  }
  &.poison-class {
    // Estilos para el tipo "poison"
    background: purple;
  }
  &.electric-class {
    // Estilos para el tipo "electric"
    background: yellow;
  }
  &.ground-class {
    // Estilos para el tipo "ground"
    background: brown;
  }
  &.fairy-class {
    // Estilos para el tipo "fairy"
    background: pink;
  }
  &.default-class {
    // Estilos para el tipo por defecto
    background: #ffffff;
  }
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 20px;
}
.card {
  width: 100%;
  background: transparent;
  border: none;
}
.pokemon-id {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 0 5px;
  width: 25%;
  background: #ffffff;
  border-radius: 100px;
}
.card-img {
  width: 160px;
  margin: 0 auto;
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}
.card-body {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  .stats {
    margin: 4px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .statItem {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .statname {
      width: 60px;
      text-transform: capitalize;
    }
    .statbar {
      
      text-align: start;
    }
    .statvalue {
    width: 25px;
    text-align: end;
    text-transform: capitalize;
    }
  }
}
.types{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .tipo{
    border-radius: 5px;
    width: 70px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    line-height: 17px;
    padding: 2px;
    margin: 5px;
    &.fire-class {
      background: rgb(231, 144, 13);
    }
    &.water-class {
      // Estilos para el tipo "water"
      background: skyblue;
    }
    &.grass-class {
      // Estilos para el tipo "grass"
      background: rgb(108, 187, 59);
    }
    &.bug-class {
      // Estilos para el tipo "bug"
      background: rgb(158, 158, 9);
    }
    &.normal-class {
      // Estilos para el tipo "normal"
      background: #918f8f;
    }
    &.poison-class {
      // Estilos para el tipo "poison"
      background: rgb(184, 11, 184);
  }
    &.flying-class {
      // Estilos para el tipo "electric"
      background: yellow;
    }
    &.ground-class {
      // Estilos para el tipo "ground"
      background: rgb(163, 69, 6);
    }
    &.fairy-class {
      // Estilos para el tipo "fairy"
      background: rgb(252, 85, 113);
    }
    &.default-class {
      // Estilos para el tipo por defecto
      background: #ffffff;
    }
}
}
.card-text {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 16px;
}
